aside.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}   

aside.logo img{
    margin-top: 50px;
    padding: 0px px;
    width: 100%;
}

@media(max-width: 576px){
    aside.logo img{
        width: 350px;
    }
}